<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= yield %>
  <div id="app-wrapper"></div>
  <div class="loading-wrap application-loading hide">
    <div class="loading">
      <div class="loading-icon"></div>
      Loading<i class="ellipsis"><i>.</i><i>.</i><i>.</i></i>
    </div>
  </div>
  <%= render "javascript" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

  <script type="text/javascript">
    window._app  = new App.Controller({on_client: false});

  </script>
</body>
</html>
